general/teams.txt
**/SLACK_TOKEN
**/bin
**/include
**/lib
**/lib64
**/mysecret.json
googleapi/bin
googleapi/lib
googleapi/lib64
googleapi/include
**/*.zip
pywin
**/.pytest_cache
**/__pycache__
**/virtual_env
**/.env