certifi==2023.7.22
chardet==3.0.4
fasteners==0.15
filelock==3.0.12
idna==2.8
importlib-metadata==1.4.0
jenkins-job-builder==3.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==8.1.0
multi-key-dict==2.0.3
packaging==20.0
parse==1.14.0
pbr==5.4.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.6
python-jenkins==1.6.0
PyYAML==5.4
requests==2.22.0
six==1.13.0
stevedore==1.31.0
toml==0.10.0
tox==3.14.3
urllib3==1.26.5
virtualenv==16.7.9
zipp==0.6.0
